DATABASE_URL="postgresql://user:password@hostname/db?sslmode=require"
PORT=8080
BPJS_ENV="MOCK"
SATUSEHAT_ENV="SANDBOX"
SATUSEHAT_ORG_ID="faa5a94f-a4fe-41ac-89f6-5da14101afd1"
SATUSEHAT_CLIENT_ID="Kh6J0eJuBq8OdBprht3XFupiRd6YEhLxjlg3"
SATUSEHAT_CLIENT_SECRET="LjNXC09cl2Iqgekolh5QQvKWbGOWb0EIUFKyyG"
